body{
    background-color:#2828; 
}
textarea{
    
    width:850px;
    height:80px;
    background-color: azure;
    resize: none;
}
button{
    width: 100px;
    height: 42px;
    background-color: blanchedalmond;
    border: none;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    cursor: pointer;
}

.comment-box{
    width:815px;
    padding: 20px;
    margin-bottom: 4px;
    background-color: aliceblue;
    border-radius: 4px;
    position: relative;
}
.comment-box p{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}
.edit-form{
    position:absolute;
    top: 0px;
    right: 0px;
}
.edit-form button{
    width: 40px;
    height: 20px;
    background-color: aqua;
    color: #282828;
    opacity: 0.7;
    
}
.edit-form button:hover{
     opacity: 1;
}
.reply-form{
    position:absolute;
    top: 0px;
    right: 52px;
}
.reply-form button{
    width: 40px;
    height: 20px;
    background-color: aqua;
    color: #282828;
    opacity: 0.7;
    
}
.reply-form button:hover{
     opacity: 1;
}
.replycomment-box{
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}

.replycomment-box p{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}